{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
{{ parent() }}
<main class="mon-d-flex p-t100">
    <!-- section connexion -->
    <section class="connexion">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form class="formulaire" method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté  {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </div>
                        {% endif %}
                        <p>
                            <a class="navbar-brand" href="/">
                            <img class="logo" src="./assets/images/logo.svg" alt="Social network"></a>
                        </p>
                        <h3 class="mb-4">Identifie-toi</h3>
                        <div class="mb-3">
                            <label for="inputEmail">E-mail</label> 
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword">Mot de passe</label> 
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <p class="container-envoye">
                            <input type="submit" class="btn mon-btn btn-connexion" value="Se connecter">
                        </p>
                        <p class="bas-formulaire">
                            <span>Pas encore inscrit ?</span> • 
                            <a href="/register"><span>Créer un compte</span></a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
