{% extends 'base.html.twig' %}

{% block title %}Hello RecruteurController!{% endblock %}

{% block body %}
<<<<<<< HEAD
{{ parent() }}

<div class="">
=======
<div class="cantainer">
>>>>>>> fd8eb73aaf76b7e8100de8f23d2be830ef29cb9e
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
    {{ form_row(form.companyname)}}
    {{ form_row(form.contactname)}}
    {{ form_row(form.description)}}
    {{ form_row(form.contactemail)}}
    {{ form_row(form.phonenumber)}}
    <button type="submit"> Envoyer</button>
    {{form_end(form)}}
</div>
{% endblock %}
