{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}
  
{% block body %}

{#<div class="container">
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
{{ form_row(form.name)}}
{{ form_row(form.firstname)}}
{{ form_row(form.email)}}
{{ form_row(form.tel)}}
{{ form_row(form.experience)}}
{{ form_row(form.address)}}
{{ form_row(form.langages)}}
{{ form_row(form.photofile)}}
{{ form_row(form.password)}}


{{ form_row(form.openwork)}}
<p class="container-envoye">
	<button type="submit" class="btn mon-btn btn-connexion" >Rejoins Little Genius</button>
</p>
	{{form_end(form)}}
</div>#}

<!--- LE CONTENU PRINCIPAL -->
    <main class=" mon-d-flex">
        <!-- section inscription -->
        <section class="inscription">
            <div class="container">
                <form class="formulaire-inscription row" method="POST">
                    <p>
                        <a class="navbar-brand" href="#"><img class="logo" src="./assets/images/logo.svg" alt="genius"></a> 
                    </p>
                    <h3 class="mb-4">Inscris-toi </h3>
                    <div class="mb-3 col-md-6 col-12 col-sm-12">
                        <label for="name" class="form-label">Ton nom</label>
                        <input type="text" class="form-control" id="name"  name="name" placeholder=" Ton Nom" minlength="2" require>
                    </div>

                    <div class="mb-3 col-md-6 col-12 col-sm-12">
                        <label for="firstname" class="form-label">Ton prénom</label>
                        <input type="text" class="form-control" id="firstname"  name="firstname" placeholder="Ton prénom" minlength="2" require>
                    </div>

                    <div class="mb-3 col-12">
                        <label for="mail" class="form-label">Ton e-mail </label>
                        <input type="email" class="form-control" id="mail"  name="mail" placeholder="genius@gmail.com" minlength="2" require>
                    </div>


                    <div class="mb-3 col-12">
                        <label for="password" class="form-label">Ton mot de passe</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="XXXXXXXXXX" minlength="2" require>
                    </div>

                    <div class="mb-3 col-md-6 col-12 col-sm-12">
                        <label for="tel" class="form-label">Ton numéro de téléphone </label>
                        <input type="tel" class="form-control" id="tel"  name="tel" placeholder="Ton numéro de téléphone" minlength="2" require>
                    </div>

                    <div class="mb-3 col-md-6 col-12 col-sm-12">
                        <label for="experience" class="form-label">Ton expérience</label>
                        <select id="experience" class="form-select" name="experience" require>
                            <option selected>- de 6 mois</option>
                            <option> 12 mois</option>
                            <option>+ de 12 mois</option>
                        </select>
                    </div>

                    <div class="mb-3 col-12 col-12 col-sm-12">
                        <label for="ville" class="form-label">Ton ville</label>
                        <input type="text" class="form-control" id="ville" name="ville" placeholder="Ta ville" minlength="2" require>
                    </div>                            

                    <div class="mb-3 col-md-6 col-12 col-sm-12">
                        <label for="langages" class="form-label">Langages</label>
						<select id="langages" class="form-select" name="langages" multiple aria-label="multiple select example">
							<option selected>PHP</option>
							<option value="1">JavaScript</option>
							<option value="2">JQuery</option>
							<option value="3">SQL</option>
							<option value="2">React</option>
							<option value="3">Java</option>
							<option value="3">Python</option>
						</select>
                    </div>

                    <div class="mb-3 col-md-6 col-12 col-sm-12">
                        <label for="photofile" class="form-label">Une petite photo </label>
                        <input type="file" class="form-control" id="photofile" name="photofile" placeholder="champs pour la photo" minlength="2" require>
                    </div>
                    <div class="mb-3">
                        <input type="checkbox" id="openwork" name="openwork" checked require>
                        <label for="openwork" class="form-label"> À l'écoute du marché</label>
                    </div>

                    <p class="container-envoye">
                        <a href="#"></a><button type="submit" class="btn mon-btn btn-connexion">Rejoins Little Genius</button></a>
                    </p>
                    <p class="bas-formulaire"><span>Déjà inscrit ?</span> • <a href="./connexion.html"><span>Connecte-toi</span></a></p>
                    
                </form>
            </div>
        </section>

    </main>


{% endblock %}
