{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}
  
{% block body %}

<div class="container">
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
{{ form_row(form.name)}}
{{ form_row(form.firstname)}}
{{ form_row(form.tel)}}
{{ form_row(form.experience)}}
{{ form_row(form.address)}}
{{ form_row(form.langages)}}
{{ form_row(form.photofile)}}
{{ form_row(form.openwork)}}
<button type="submit" class="btn btn-primary" >
		Envoyer</button>
	{{form_end(form)}}
</div>


{% endblock %}
